<!doctype html>
<html ng-app="eduApp">

<head>
    <base href="edu">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>郑州大学学生成绩查询系统</title>
    <link rel="stylesheet" type="text/css" href="edu.css">
    <script src="angular.min.js" type="text/javascript"></script>
    <script src="angular-cookie.min.js" type="text/javascript"></script>
    <script src="edu.js" type="text/javascript"></script>
</head>

<body ng-controller="EduController">
    <!--background mask layer and the guide layer-->
    <div id="mask"></div>
    <div id="searchTip">
        <div class="stepA">
            <a></a><span></span></div>
        <div class="stepB">
            <a></a><span></span></div>
        <div class="stepC">
            <a></a><span></span></div>
        <div class="stepD">
            <a></a><span></span></div>
        <div class="stepE">
            <a></a><span></span></div>
    </div>
    <!--two buttons :creat and save-->
    <a id="create" ng-click="create()"></a>
    <a id="save" ng-click="save()"></a>
    <div class="slide" ng-class="{'slide-up': isToggle}">
        <table id="leftTable">
            <tr>
                <td colspan="2">
                    <font color="yellow">&nbsp; --(黄按钮)生成
                    </font>
                    <br>
                    <font color="red">&nbsp; --(红按钮)保存
                    </font>
                </td>
            </tr>
            <tr>
                <td>学号
                    <input ng-model="student.id"></input>
                </td>
            </tr>
            <tr>
                <td>姓名
                    <input ng-model="student.name"></input>
                </td>
            </tr>
            <tr>
                <td>班级
                    <input ng-model="student.class"></input>
                </td>
            </tr>
            <tr>
                <td>院系
                    <input ng-model="student.department"></input>
                </td>
            </tr>
            <tr>
                <td>专业
                    <input ng-model="student.major"></input>
                </td>
            </tr>
            <tr>
                <td>总共学期数
                    <select ng-model="student.termTotal" ng-options="t for t in terms"></select>
                </td>
            </tr>
            <tr>
                <td>当前学期
                    <select ng-model="student.termNow" ng-options="t for t in terms"></select>
                </td>
            </tr>
            <tr>
                <td>总人数
                    <input ng-model="student.number" type="number" style="width:75px;"></input>
                </td>
            </tr>
            <tr>
                <td>专业排名
                    <input ng-model="student.rank" type="number" style="width:75px;"></input>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">特别感谢翔翔同学</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">Made By <a href="http://wpa.qq.com/msgrd?v=3&uin=1944699952&site=qq&menu=yes" target="_blank">@二楼</a></td>
            </tr>
        </table>
        <table id="addTable">
            <tr>
                <td colspan="5" align="center">
                    <font id="webName"><a href="http://www.zzubox.com">--|ZZU-BOX|--</a> 郑州大学-成绩单-制作-页面</font>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <img src="add.png" border="0" style="cursor:pointer;" ng-click="addCourse()" title="添加一门课程" />
                </td>
                <td colspan="2" align="right">
                    <img id="guide" border="0" style="cursor:pointer;" align="middle" src="guide.png" alt="引导" title="开始引导" ng-click="guide()" />&nbsp;
                    <img id="message" border="0" style="cursor:pointer;" align="middle" src="message.png" alt="意见反馈" title="想和我聊天？戳这里！" ng-click="message()" />&nbsp;
                </td>
                <td align="right" width="180px">
                    <div class="bdsharebuttonbox" style="display:inline">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="course in courses.courseList">
                <td>
                    <button ng-click="deleteCourse($index)">删除</button>
                </td>
                <td>课程:
                    <input ng-model="course.name" style="width:150px;">
                </td>
                <td>修习类别:
                    <select ng-model="course.type">
                        <option value="必修课">必修课</option>
                        <option value="限选课">限选课</option>
                        <option value="院_任选课">院_任选课</option>
                        <option value="校_任选课">校_任选课</option>
                    </select>
                </td>
                <td>学分:
                    <input ng-model="course.credit" type="number" style="width:75px;"></input><span style="font-size:10pt;color:red"></span></td>
                <td>成绩:
                    <input ng-model="course.score" type="number" style="width:75px;"></input><span style="font-size:10pt;color:red"></span></td>
            </tr>
        </table>
    </div>
    <!-- original page -->
    <center>
        <p style="font-size:15pt;color:#FF0000">郑州大学学生成绩单</p>
        <p style="font-size:small">学号：{{student.id}}&nbsp;&nbsp;姓名：{{student.name}}&nbsp;&nbsp;班级：{{student.class}}&nbsp;&nbsp;院系：{{student.department}}&nbsp;&nbsp;专业：{{student.major}}&nbsp;&nbsp;学期:{{student.termNow}}</p>
        <table border="1" width="567" style="border-collapse:collapse; text-align:center;" bordercolor="#EBEBEB" cellpadding="2" cellspacing="0">
            <tr style="font-size: 11pt">
                <td width="40%">课程</td>
                <td width="17%">修习类别</td>
                <td width="15%">学分</td>
                <td width="15%">成绩</td>
                <td width="15%">绩点</td>
            </tr>
            <tr ng-repeat="course in courses.courseList ">
                <td align="left">{{course.name}}</td>
                <td>{{course.type}}</td>
                <td><span ng-show="course.fail">[</span>{{course.credit}}<span ng-show="course.fail">]</span></td>
                <td>{{course.score}}</td>
                <td>{{course.point}}</td>
            </tr>
        </table>
        <div style="font-size:small">
            <p>
                学期总绩点： {{courses.pointTotal | number:1}}&nbsp;&nbsp;&nbsp;学期总学分： {{courses.creditTotal | number:1}}&nbsp;&nbsp;&nbsp;学期平均绩点： {{courses.pointAverage | number:1}}
            </p>
            <p>
                打印时间：{{student.time | date:'yyyy-MM-dd HH:mm:ss'}}&nbsp;&nbsp;郑州大学教务处 <a style="text-decoration: none" href="http://jw.zzu.edu.cn">http://jw.zzu.edu.cn</a>
            </p>
            <p>
                <span ng-repeat="num in terms">
                <a ng-if="student.termNow!=num&&num<=student.termTotal" ng-click="changeTerm(num)" ng-href="#{{num}}">第{{num}}学期</a><span ng-if="student.termNow==num&&num<=student.termTotal">第{{num}}学期</span>
                </span>
                &nbsp;&nbsp;<a href="http://www.zzu.edu.cn/">退出系统</a>
            </p>
        </div>
        <div style="font-size:11pt">
            <p>学业分析报告：1、截止{{student.time | date:'yyyy-MM-dd HH:mm:ss'}} 你的平均绩点为{{student.pointTotalAverage | number:4}},专业排名第{{student.rank}},专业总人数{{student.number}},请继续努力学习！</p>
            <p>特别说明：关于成绩记载办法请参看<a style="text-decoration: none" target="_blank" href="http://jw.zzu.edu.cn/glwj/xjgl.html">《郑州大学本科学分制学生学籍管理规定》</a>有关章节。</p>
        </div>
    </center>
    <script type="text/javascript">
    /*
     * refactoring with AngularJs!!!
     */
    var eduApp = angular.module('eduApp', ['ipCookie']);
    /*
     * '#' url hash setting
     */
    eduApp.config(['$locationProvider', function($locationProvider) {
        $locationProvider.html5Mode(true);
    }]);
    /*
     * Let's start the logic
     */
    eduApp.controller('EduController', ['$scope', 'ipCookie', '$location', '$window', function($scope, ipCookie, $location, $window) {
        $scope.isToggle = false; //to show and hide the edit contaioner
        $scope.terms = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; //the list of total terms number
        //load cookies and request term number
        $scope.student = ipCookie("student") || new Student();
        $scope.student.termNow = $location.hash() ? parseInt($location.hash()) : 1;
        //$scope.courses is a simple CoureseData get/put in StudentData.Easy to load and update      
        $scope.courses = $scope.student.allCourses[$scope.student.termNow - 1] || new Courses();
        //show guide if user never use that before(no cookie)
        if (!ipCookie("student")) {
            guide();
        } else {
            $scope.isToggle = true;
        }

        function make() {
            //make the time
            $scope.student.time = new Date();
            //make the credit
            $scope.courses.creditTotal = 0;
            $scope.courses.pointTotal = 0;
            $scope.courses.pointAverage = 0;
            for (var i = 0; i < $scope.courses.courseList.length; i++) {
                // make point of every course in courseList
                $scope.courses.courseList[i].point = countPoint($scope.courses.courseList[i].type, $scope.courses.courseList[i].score);
                // make the average point,total point
                if ($scope.courses.courseList[i].type == "必修课" || $scope.courses.courseList[i].type == "限选课") {
                    $scope.courses.creditTotal += $scope.courses.courseList[i].credit;
                }
                //the credit of course which failed,shuould add '[]'
                if ($scope.courses.courseList[i].score >= 0 && $scope.courses.courseList[i].score < 60 || $scope.courses.courseList[i].score == "不及格") {
                    $scope.courses.courseList[i].fail = true;
                } else {
                    $scope.courses.courseList[i].fail = false;
                }
                //count total/average point
                $scope.courses.pointTotal += checkNum($scope.courses.courseList[i].point) * $scope.courses.courseList[i].credit;
                $scope.courses.pointAverage = $scope.courses.pointTotal / $scope.courses.creditTotal;
            }
            //put CoursesData into StudentData
            $scope.student.allCourses[$scope.student.termNow - 1] = $scope.courses;

            // make the total credit avg
            var pointAverage = 0;
            var num = 0;
            for (var i = 0; i < $scope.student.allCourses.length; i++) {
                if ($scope.student.allCourses[i] != null && $scope.student.allCourses[i].pointAverage != 0) {
                    pointAverage += $scope.student.allCourses[i].pointAverage;
                    num += 1;
                }
            }
            $scope.student.pointTotalAverage = pointAverage / num;
        }

        $scope.guide = function() {
            guide();
        }
        $scope.create = function() {
            $scope.isToggle = !$scope.isToggle;
            if ($scope.isToggle) {
                make();
            }
        }
        $scope.save = function() {
            $scope.isToggle = true;
            make();
            ipCookie("student", $scope.student, {
                expires: 2000
            });
            $window.alert("已保存");
        }
        $scope.message = function() {
            $window.open("http://wpa.qq.com/msgrd?v=3&uin=1944699952&site=qq&menu=yes", "_blank");
        }
        $scope.addCourse = function() {
            $scope.courses.courseList.push(new Course());
        }
        $scope.deleteCourse = function(index) {
            $scope.courses.courseList.splice(index, 1);
        }
        $scope.changeTerm = function(num) {
            //if edit area is show, hide it and save current term courses
            if (!$scope.isToggle) {
                $scope.isToggle = !$scope.isToggle;
                make();
            }
            //load request term courses 
            $scope.student.termNow = num;
            $scope.courses = $scope.student.allCourses[num - 1] || new Courses();
        }
    }]);
    </script>
</body>

</html>
